@model DomaciM3T2.Models.Festival

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Festival</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumOdrzavanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumOdrzavanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaksimumPosetilaca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaksimumPosetilaca)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
